[Desktop Entry]
Name=MDViewer
Comment=Visualizador e Leitor de Documentos Markdown
Exec=mdviewer %F
Icon=mdviewer
Terminal=false
Type=Application
Categories=Office;Utility;TextEditor;Development;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;viewer;reader;editor;notes;
StartupWMClass=MDViewer
